/* ============================================================ HTML Elements */

body, html {
	margin: 0;
	font-family: "Myriad Pro", "Arial", sans-serif;
	font-size: 100%;
}

body {
	/* With this font-size, we have that 100% = 10px which is a convenient
	 * value to use */
	font-size: 62.5%;
	padding-bottom: 60px;
	border-top: 2px solid black;
}

a {
	color: #005c9c;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

a img {
	border: 0px none;
}

img.floating {
	float: left;
	margin: 0 1em 1em 0;
}

#header,
#main,
#footer {
	width: 700px;
	margin: 0 auto;
}

/* =================================================================== Header */

#header {
	margin: 20px auto;
	/* With this property, the height of the wrapper includes the height of the
	 * floating elements */
	overflow: auto;
	width: 758px;
	padding-right: 58px;
}

#header #logo {
	float: left;
}

#header h1 {
	background: url("/images/website/logo.png") no-repeat top left;
	height: 40px;
	width: 190px;
	margin: 0;
	padding: 0;
}

#header h1 a {
	display: block;
	width: 100%;
	height: 100%;
}

#header h1 span {
	display: none;
}

#header p {
	font-size: 1.1em;
	color: #666;
	text-align: left;
	margin: 0 0 0 60px;
	padding: 0;
}

/* ============================================================ Header > Menu */

/* The menu is probably the most complex part (in CSS) on the website.
 * Please be very carefull when modifying to not break any browser support. */

#header ul#menu {
	margin: 15px 0 0 0;
	padding: 0;
	float: right;
	list-style-type: none;
	height: 27px;
	background: url("/images/website/grey-menu-center.png") repeat-x top center;
}

#header ul#menu li {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	float: left;
	height: 27px;
}

#header ul#menu li a {
	line-height: 22px;
	display: block;
	padding: 0;
	margin: 0;
}

#header ul#menu li a span {
	padding: 0 10px;
	line-height: 22px;
	display: block;
	height: 100%:
}

#header ul#menu li:first-child {
	background: url("/images/website/grey-menu-left.png") no-repeat top left;
}

#header ul#menu li:last-child {
	background: url("/images/website/grey-menu-right.png") no-repeat top right;
}

#header ul#menu li.active {
	background: url("/images/website/active-center.png") repeat top center;
}

#header ul#menu li.active a {
	color: #fff;
	text-shadow: 0px 1px #163c65;
	background: url("/images/website/active-left.png") no-repeat top left;
}

#header ul#menu li.active a span {
	background: url("/images/website/active-right.png") no-repeat top right;
}

#header ul#menu li a {
	color: #666;
	text-shadow: 0px 1px #fff;
}

#header ul#menu li.subscribe {
	background: url("/images/website/green-menu.png") no-repeat top left;
}

#header ul#menu li.subscribe a {
	color: #fff;
	text-shadow: 0px 1px #617123;
}

/* ===================================================================== Main */

#main {
	position: relative;
}

#main img {
	display: block;
}

#main p,
#main ul,
#main ol,
#main blockquote,
#main table {
	font-size: 1.2em;
	color: #666;
	line-height: 150%;
	padding-right: 240px;
	text-align: justify;
}

#main ul p {
	font-size: 1em;
	padding: 0;
}

#main ol ol {
	font-size: 1em;
	padding-right: 0px;
	list-style-type: lower-alpha;
}

#main ul {
	margin: 0 0 0 16px;
	padding: 0 240px 0 0;
	list-style-type: inside;
}

#main ul ul {
	padding: 0;
	font-size: 1em;
}

#main ul li,
#main ol li {
	margin: 0 0 2px 0;
}

#main h2 {
	font-weight: normal;
	font-size: 1.5em;
	margin: 0 0 10px 0;
}

#main h3 {
	font-weight: normal;
	font-size: 1.3em;
	margin-top: 40px;
}

/* ================================================================= Side bar */

#main .side {
	margin-top: 2em;
	padding: 10px 0 0 0;
	float: right;
	width: 220px;
}

#main .side img {
	display: block;
}

#main .side p {
	padding: 0;
	font-size: 1.2em;
	color: #999;
}

#main .side h3 {
	margin: 1em 0;
	padding: 0;
	font-size: 1.2em;
	color: #999;
}
/* ================================================================= User bar */

.user-bar {
	font-size: 1.1em;
	background: #000;
	line-height: 20px;
	height: 20px;
	color: #ccc;
}

.user-bar div {
	width: 700px;
	margin: 0 auto;
}

.user-bar a {
	color: #ccc;
}

.user-bar p {
	margin: 0;
	padding: 0;
}

.user-bar p:first-child {
	float: left;
}

.user-bar p:last-child {
	float: right;
}

/* =============================================================== body.index */

body.index #main {
	overflow: auto;
}

body.index #main img {
	margin: 0 0 20px 0;
}

body.index #main .rapid {
	width: 220px;
	margin-top: 110px;
	float: right;
}

body.index #main .rapid ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body.index #main .rapid ul li {
	margin: 0;
	padding: 0;
	line-height: 160%;
}

body.index #main .rapid ul li a {
	color: #999;
	text-decoration: none;
}

body.index #main .rapid ul li a:hover {
	color: #005c9c;
}

/* ================================================================= grey-box */

#main .grey-box {
	width: 220px;
	height: 93px;
	background: url("/images/website/grey-box.png") top left;
	float: right;
}

#main .grey-box form {
	padding: 10px;
	width: 200px;
}

#main .grey-box form label {
	font-size: 1.2em;
	color: #666;
	display: block;
	margin: 0px 0px 10px 0px;
	text-shadow: 0px 1px #fff;
}

#main .grey-box form input#mail {
	width: 132px;
	float: left;
}

#main .grey-box form input[type=submit] {
	float: right;
}

#main .grey-box form p {
	margin: 5px 0 0 0;
	clear: left;
	float: left;
	padding: 0;
}

#main dl dt {
	float: left;
	width: 60px;
	font-size: 1.2em;
}

#main dl dd {
	margin-left: 60px;
}

#main img.aside,
#main dl dd img {
	position: absolute;
	left: 480px;
}

#submenu {
	width: 200px;
}

#submenu ul {
	width: 200px;
}

#footer {
	clear: both;
	padding-top: 20px;
	font-size: 1.2em;
	margin-top: 40px;
}

body.index #footer {
	margin-top: 0;
}

#footer p#social-links a {
	width: 100px;
	display: block;
	float: left;
	color: #005999;
	margin: 0 10px 0 0;
	line-height: 1.4em;
	font-size: 0.9em;
}

#footer p#internal-links a {
	float: right;
	color: #999;
	font-size: 0.9em;
	text-align: right;
	margin-left: 15px;
}

span.explain {
	font-size: 1.1em;
	display: block;
	float: right;
	width: 200px;
	color: red;
}

#change_mail_explain {
	display: none;
}

/* =============================================================== Login form */

form#login {
	display: none;
	position: relative;
}

form#login {
	position: absolute;
	top: 150px;
	left: 50%;
	background: #fff;
	width: 300px;
	margin-left: -150px;
	border: 5px solid #000;
	padding: 20px;
}

form#login .close {
	position: absolute;
	top: 5px;
	right: 5px;
}

/* ================================================= Title in activities page */

#main h3.activity {
	padding-right: 240px;
}

#main h3.activity a {
	float: right;
}

/* ==================================================================== Forms */

form.form-300 p.feedback,
#main form div.feedback {
	display: none;
	border: 1px solid #2aa2d8;
	background: #f2f9fd;
	padding: 10px;
	margin-bottom: 20px;
}

form.form-300 p.feedback ul,
#main form div.feedback ul {
	width: 100%;
}

#main form.form-followed {
	float: left;
	margin: 0 0 20px 0;
}

#main form p {
	margin: 0 0 10px 0;
	padding: 0;
}

#main form label {
	display: block;
	line-height: 1.6em;
}

#main form input {
	display: block;
}

#main form textarea {
	height: 100px;
}

#main form fieldset {
	margin: 2em 0 0 0;
	padding: 10px 0 0 0;
	border: 0px none;
	border-top: 3px solid #f1f1f1;
}

#main form legend {
	margin: 0 10px;
	padding: 0 10px;
	font-size: 1.2em;
}

#footer form.form-300 {
	width: 300px;
}

#footer form.form-300 p.span-3 {
	width: 300px;
	clear: left;
}

#footer form.form-300 p.span-3 input {
	width: 296px;
}

#footer form.form-300 p.form-button {
	width: 300px;
	line-height: 22px;
}

#footer form.form-300 p.form-button input {
	width: auto;
	float: left;
	margin: 0 10px 0 0;
}

#main form.form-460 {
	width: 460px;
}

#main form.form-460 fieldset {
	width: 460px;
}

#main form.form-460 p.span-1 {
	width: 105px;
	float: left;
	margin-right: 10px;
}

#main form.form-460 p.span-1-last {
	width: 115px;
	float: left;
}

#main form.form-460 p.span-1 select,
#main form.form-460 p.span-1 textarea,
#main form.form-460 p.span-1 input {
	width: 101px;
}

#main form.form-460 p.span-1-last select,
#main form.form-460 p.span-1-last textarea,
#main form.form-460 p.span-1-last input {
	width: 111px;
}

#main form.form-460 p.span-2 {
	width: 220px;
	float: left;
	margin-right: 10px;
}

#main form.form-460 p.span-2-last {
	width: 230px;
	float: left;
	margin-right: 0px;
}

#main form.form-460 p.span-2 select,
#main form.form-460 p.span-2 textarea,
#main form.form-460 p.span-2 input {
	width: 216px;
}

#main form.form-460 p.span-2-last textarea,
#main form.form-460 p.span-2-last input {
	width: 226px;
}

#main form.form-460 p.span-3 {
	width: 335px;
	float: left;
	margin-right: 10px;
}

#main form.form-460 p.span-3-last {
	width: 345px;
	float: left;
}

#main form.form-460 p.span-3 select,
#main form.form-460 p.span-3 textarea,
#main form.form-460 p.span-3 input {
	width: 331px;
}

#main form.form-460 p.span-3-last textarea,
#main form.form-460 p.span-3-last input {
	width: 341px;
}

#main form.form-460 p.span-4 {
	width: 460px;
	clear: left;
}

#main form.form-460 p.span-4-checkbox {
	width: 460px;
	clear: left;
}

#main form.form-460 p.span-4-checkbox input,
#main form.form-460 p.span-4-checkbox label {
	display: inline;
}

#main form.form-460 p.span-4 select,
#main form.form-460 p.span-4 textarea,
#main form.form-460 p.span-4 input {
	width: 456px;
}

#main form.form-460 p.form-button {
	width: 460px;
	line-height: 22px;
}

#main form.form-460 p.form-button input {
	width: auto;
	float: left;
	margin: 0 10px 0 0;
}


#main table.dataset {
	border-collapse: collapse;
	width: 460px;
}
#main table.dataset tr td {
	border: 1px solid black;
	padding: 2px 5px;
}