#scienceinfuse {
	min-height: 200px;
}
#scienceinfuse dl dt {
	width: 60px;	
}
#scienceinfuse dl dd {
	margin-left: 60px;
}
#scienceinfuse dl.calendar {
	padding-left: 30px;
}
#scienceinfuse dl.calendar dt {
	width: 120px;	
}
#scienceinfuse dl.calendar dd {
	margin-left: 120px;
}
#scienceinfuse ul {
  font-size: normal;
	padding-right: 240px;
}
#scienceinfuse ul.stands li {
	margin-top: 10px;
}

