#main .scienceinfuse  dl dt {
	width: 60px;	
}

#main .scienceinfuse dl dd {
	margin-left: 60px;
}

#main .scienceinfuse .index dl {
	padding-left: 30px;
}

#main .scienceinfuse .index dl dt {
	width: 120px;	
}

#main .scienceinfuse .index dl dd {
	margin-left: 120px;
}
