/* ================================================================= User bar */

.user-bar {
	font-size: 1.1em;
	background: #000;
	line-height: 20px;
	height: 20px;
	color: #ccc;
}

.user-bar div {
	width: 700px;
	margin: 0 auto;
}

.user-bar a {
	color: #ccc;
}

.user-bar p {
	margin: 0;
	padding: 0;
}

.user-bar p:first-child {
	float: left;
}

.user-bar p:last-child {
	float: right;
}

/* =================================================================== Header */

#header {
	margin: 20px auto;
	/* With this property, the height of the wrapper includes the height of the
	 * floating elements */
	overflow: auto;
	width: 758px;
	padding-right: 58px;
}

#header #logo {
	float: left;
}

#header h1 {
	background: url("../images/logo.png") no-repeat top left;
	height: 40px;
	width: 190px;
	margin: 0;
	padding: 0;
}

#header h1 a {
	display: block;
	width: 100%;
	height: 100%;
}

#header h1 span {
	display: none;
}

#header p {
	font-size: 1.1em;
	color: #666;
	text-align: left;
	margin: 0 0 0 60px;
	padding: 0;
}

