/* ================================================================= footer */

#footer {
	clear: both;
	padding-top: 20px;
	font-size: 1.2em;
/*	margin-top: 40px; */
}

#footer p#social-links a.link, #footer p#social-links img {
	display: block;
	float: left;
	color: #005999;
	margin: 0 10px 0 0;
	line-height: 1.4em;
	font-size: 0.9em;
}

#footer p#social-links img {
	vertical-align: bottom;
}
#footer p#social-links a.link {
	width: 80px;
	padding-top:2px;
}

#footer p#internal-links {
  line-height: 1.4em;	
  text-align: right;
}
#footer p#internal-links a {
	color: #999;
	font-size: 0.9em;
}
