/* ==================================================================== Forms */
form.form-300 p.feedback,
form div.feedback {
	display: none;
	border: 1px solid #2aa2d8;
	background: #f2f9fd;
	padding: 10px;
	margin-bottom: 20px;
}
form .feedback ul {
	margin: 0px;
	padding-left: 20px;
}
form.form-followed {
	float: left;
	margin: 0 0 20px 0;
}
form p {
	color: #666;
	line-height: 150%;
	margin: 0 0 10px 0;
	padding: 0;
}
form label {
	display: block;
	line-height: 1.6em;
	color: black;
}
form input {
	display: block;
}
form textarea {
	height: 100px;
}
form fieldset {
	margin: 2em 0 0 0;
	padding: 10px 0 0 0;
	border: 0px none;
	border-top: 3px solid #f1f1f1;
}
form legend {
	font-weight: bold;
}


/* ==================================================================== form-300 */
form.form-300 {
	width: 300px;
}
form.form-300 p.span-3 {
	width: 300px;
	clear: left;
}
form.form-300 p.span-3 input {
	width: 296px;
}
form.form-300 p.form-button {
	padding-top: 20px;
	width: 300px;
	line-height: 22px;
}
form.form-300 p.form-button input {
	width: auto;
	float: left;
	margin: 0 10px 0 0;
}

/* ==================================================================== form-460 */
form.form-460 {
	width: 460px;
}
form.form-460 fieldset {
	width: 460px;
}
form.form-460 p.span-1 {
	width: 105px;
	float: left;
	margin-right: 10px;
}
form.form-460 p.span-1-last {
	width: 115px;
	float: left;
}
form.form-460 p.span-1 select,
form.form-460 p.span-1 textarea,
form.form-460 p.span-1 input {
	width: 101px;
}
form.form-460 p.span-1-last select,
form.form-460 p.span-1-last textarea,
form.form-460 p.span-1-last input {
	width: 111px;
}
form.form-460 p.span-2 {
	width: 220px;
	float: left;
	margin-right: 10px;
}
form.form-460 p.span-2-last {
	width: 230px;
	float: left;
	margin-right: 0px;
}
form.form-460 p.span-2 select,
form.form-460 p.span-2 textarea,
form.form-460 p.span-2 input {
	width: 216px;
}
form.form-460 p.span-2-last textarea,
form.form-460 p.span-2-last input {
	width: 226px;
}
form.form-460 p.span-3 {
	width: 335px;
	float: left;
	margin-right: 10px;
}
form.form-460 p.span-3-last {
	width: 345px;
	float: left;
}
form.form-460 p.span-3 select,
form.form-460 p.span-3 textarea,
form.form-460 p.span-3 input {
	width: 331px;
}
form.form-460 p.span-3-last textarea,
form.form-460 p.span-3-last input {
	width: 341px;
}
form.form-460 p.span-4 {
	width: 460px;
	clear: left;
}
form.form-460 p.span-4-checkbox {
	width: 460px;
	clear: left;
}
form.form-460 p.span-4-checkbox input,
form.form-460 p.span-4-checkbox label {
	display: inline;
}
form.form-460 p.span-4 select,
form.form-460 p.span-4 textarea,
form.form-460 p.span-4 input {
	width: 456px;
}
form.form-460 p.form-button {
	padding-top: 20px;
	width: 460px;
	line-height: 22px;
}
form.form-460 p.form-button input {
	width: auto;
	float: left;
	margin: 0 10px 0 0;
}

table.orders {
  width: 460px;
}
