span.explain {
	font-size: 1.1em;
	display: block;
	float: right;
	width: 200px;
	color: red;
}

#change_mail_explain {
	display: none;
}

#main h3.activity {
	padding-right: 240px;
}

#main h3.activity a {
	float: right;
}