# Deploiment mode; accepted values are 'devel', 'test' and 'production'.
# The deploiment mode drives the way critical code is executed. Tests cannot
# be run in production mode, for example. Mails are never sent for real 
# unless the mode is production.
deploy_mode       'devel'

# The url to put in <base href=""/>. This url should always include http://
# and should not contain the index.html suffix
web_domain        '127.0.0.1'
web_port          9292
web_base          "http://#{web_domain}:#{web_port}/"

# Should google analytics code be included. This flag should be set to true
# only in production mode.
google_analytics  false

# Classical parameters for connecting the AcmScW database
database           :host     => 'localhost',
                   :port     => 5432,
                   :database => 'acmscw',
                   :user     => 'acmscw',
                   :password => 'acmscw',
                   :encoding => 'utf8'

# Information about the smtp server to use for sending mails
smtp_host         'smtp.sgsi.ucl.ac.be'
smtp_port         25
smtp_timeout      3
