#main .olympiades dl dt {
	width: 120px;	
}
#main .olympiades dl dd {
	margin-left: 120px;
}

#unif-he {
	text-align: center;
	padding-right: 240px;
}

#unif-he div {
	display: inline;
	margin: 0px 3px 0px 3px;
}

#unif-he p {
	margin-bottom: 20px;
}

#unif-he div img {
	display: inline;
}

table.score {
	padding-right: 15px !important;
	width:470px;
}

table.score tr td {
	vertical-align: top;
	text-align:left;
}