#admin-main {
  width: 1024px;
  margin: auto;
	margin-top: 20px;
}
#admin-left {
	position: relative;
	float: left;
	width: 250px;
}
#admin-right {
	margin-left: 20px;
	position: relative;
	float: left;
	width: 750px;
}
#admin-menu {
	margin-bottom: 20px;
	height: 615px;
}
#admin-menu #logo {
	height: 85px;
}
#admin-menu ul {
	margin: 0px;
	padding: 0px 5px 0px 20px;
}
#admin-tabs {
	height: 700px;
}
#admin-tabs div {
	height: 650px;
	overflow: auto;
}
#admin-tabs div table {
	border-collapse: collapse;
}
#admin-tabs div table tr td {
	border: 1px solid black;
	padding: 3px;
}
#admin-tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }

